body{
    font-family: sans-serif;
    margin: 0%;
    
}
header{
   
    height: 90vh;
    background-image: url("image/simon-english-48nerZQCHgo-unsplash.jpg");   
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: rgb(2, 2, 2);
}

.header-section{
    height: 100%;
}
.container{
    width: 30%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-quote{
    padding-top: 0%;
    font-size: 20px;
    font-weight: bold;
    width: max-content;
}
.header-title{
    padding: 0%;
    font-size:80px;
    font-weight: bolder;
    width: fit-content;
}
.subtitle{
    padding-top: 0%;
    font-size: 24px;
    font-weight: 400;
}
.btnn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.btn{
    text-decoration: none;
    background: rgba(0, 0, 0, 0.868);
    color: rgb(255, 255, 255);
    padding: 20px,20px;
    font-size: 32px;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 1s;
    letter-spacing: 2px;
}
 
